<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Japanese Learning</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" href="/images/url.png">
</head>

<body>
	<div id="app">
		<select 
			v-model="currentSection"
			@Change="checkWhetherFetchOrNot">
			<option value="Alphabet">五十音</option>
			<option value="Alphabet-List">五十音表</option>
			<option value="Word">單字</option>
		</select>
		<select 
			v-if="currentSection==='Alphabet' || currentSection==='Alphabet-List'" 
			v-model="currentCategory"
			@Change="getAlphabets">
			<option value="A">平假名</option>
			<option value="A-1">平假名-濁音、半濁音</option>
			<option value="A-2">平假名-抝音1</option>
			<option value="A-3">平假名-抝音2</option>
			<option value="B">片假名</option>
			<option value="B-1">片假名-濁音、半濁音</option>
			<option value="B-2">片假名-抝音1</option>
			<option value="B-3">片假名-抝音2</option>
		</select>
		<table v-if="currentSection==='Alphabet'">
			<tr>
				<td>{{this.totalQuestionsCount - this.alphabetsArray.length}}/{{this.totalQuestionsCount}}</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<span>{{japaneseWord}}</span>
				</td>
				<td>
					<img v-if="showResultIcon" :src="isCorrect?'/images/accept.png':'/images/remove.png'" id="icon">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" v-model="romanWord" @Keypress="triggerCheckFn">
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<button v-if="!showResult" @Click="check">Check</button>
					<span>{{" "}}</span>
					<button v-if="showResult" @Click="getAlphabets">Again</button>
				</td>
				<td></td>
			</tr>
			<tr v-if="showResult">
				<td>Correct Rate:{{correctRate}}</td>
				<td></td>
			</tr>
		</table>
		<div v-if="currentSection==='Alphabet-List'">
			<ul>
				<li v-for="(item, index) in alphabetsArray">
					{{item.key}} : {{item.props.roma}}
				</li>
			</ul>
		</div>
	</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/50_alphabet.js"></script>
<script>
	const {createApp} = Vue
	const vm = createApp({
		data() {
			return {
				alphabetObj:{
					
				},
				apiRoute: "/api/alphabet",
				alphabetsArray: [],
				japaneseWord: null,
				correctAnswer: null,
				romanWord: null,
				isCorrect: false,
				totalQuestionsCount: 0,
				correctAnswerCount: 0,
				checkedCount: 0,
				showResultIcon: false,
				currentSection: 'Alphabet',
				currentCategory: 'A'
			}
		},
		created() {
			if (this.currentSection === 'Alphabet') {
				this.getAlphabets()
			}
		},
		methods: {
			checkWhetherFetchOrNot(){
				if(this.currentSection === 'Alphabet-List' || 
				   this.currentSection === 'Alphabet'){
					this.getAlphabets()
				}
			},
			async getAlphabets() {
				const res = await this.fetchAlphabets()
				if(Object.keys(res.resBody).length === 0) return;
				this.emptyArray()
				this.putAllAlphabetsIntoArray(res)
				this.initializeCounts()
				this.adjustCurrentAlphabet()
			},
			fetchAlphabets(){
				const init = {
					method: "GET"
				}
				const queryParams = {
					category: this.currentCategory
				}
				const url = `${this.apiRoute}?${new URLSearchParams(queryParams)}`
				return fetch(url, init).then(data => data.json());
			},
			emptyArray(){
				this.alphabetsArray = []
			},
			putAllAlphabetsIntoArray(res){
				for (const wordObj in res.resBody) {
					this.alphabetsArray.push({key: wordObj, props: res.resBody[wordObj]})
				}
				this.alphabetsArray = this.alphabetsArray.sort((a, b) => a.props.sort - b.props.sort )
			},
			initializeCounts(){
				this.totalQuestionsCount = this.alphabetsArray.length
				this.correctAnswerCount = 0
				this.checkedCount = 0
			},
			adjustCurrentAlphabet(){
				if(this.currentSection === 'Alphabet'){
					this.romanWord = null
					const index = Math.floor(Math.random() * this.alphabetsArray.length)
					this.japaneseWord = this.alphabetsArray[index].key
					this.correctAnswer = this.alphabetsArray[index].props.roma
					this.alphabetsArray.splice(index, 1)
				}
			},
			changeWord() {
				if (!this.romanWord) {
					alert("Please answer this question!")
				}
				if (this.alphabetsArray.length !== 0 && this.romanWord) {
					this.adjustCurrentAlphabet()
				}
			},
			check() {
				if (!this.romanWord) {
					alert("Please answer this question!")
				} else {
					this.isCorrect = this.correctAnswer === this.romanWord
					this.showResultIcon = true
					this.checkedCount++
					if (this.isCorrect) {
						this.correctAnswerCount++
					}
					setTimeout(this.timeoutActionAfterCheck, 1000)
				}
			},
			timeoutActionAfterCheck(){
				this.changeWord()
				this.showResultIcon = false
			},
			triggerCheckFn(e) {
				if (e.keyCode === 13 && this.checkedCount !== this.totalQuestionsCount) {
					this.check()
				} else if (e.keyCode === 13 && this.checkedCount === this.totalQuestionsCount) {
					this.getAlphabets()
				}
			}
		},
		computed: {
			correctRate() {
				return ((this.correctAnswerCount / this.totalQuestionsCount) * 100).toFixed(0) + '%'
			},
			showResult() {
				return this.checkedCount === this.totalQuestionsCount
			}
		}
	})
	vm.mount('#app')
</script>
<style>
	#icon {
		width: 18px;
		height: 18px;
	}

	tr {
		height: 26px;
		font-size: 50px;
	}

	input {
		margin-top: 2px;
		font-size: 28px;
	}

	#app>table {
		margin: auto;
		padding-top: 150px;
	}

	button {
		height: 30px;
		width: 100%;
		font-size: 24px;
	}
</style>

</html>